# Directories Ignored by Default

# api

api/src/TaskApi.Infrastructure/obj
api/src/TaskApi.Core/obj
api/src/TaskApi.Compose/obj
api/src/TaskApi.Api/obj

api/src/TaskApi.Infrastructure/bin
api/src/TaskApi.Compose/bin
api/src/TaskApi.Core/bin
api/src/TaskApi.Api/bin

